- @competitions.each do |competition|
  - case competition.format
    - when "Elimination"
      = render :template => "eliminations/index", :locals => { :competition => competition }
    - when "Round Robin"
    - when "Other"


